<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="~/Content/dist/bundle.css" rel="stylesheet" />
</head>
<body>
<header class="header">
    <div class="container">
        <!-- Left side -->
        <div class="header-left">
            <a class="header-item" href="#">
                Fancy CSP
            </a>

        </div>

        <!-- Hamburger menu (on mobile) -->
        <span class="header-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>

         
    </div>
</header>
    <section class="hero is-medium is-primary is-bold">
    <div class="hero-content">
        <div class="container">
            <h1 class="title">
               Super Security demo
            </h1>
            <h2 class="subtitle">
               Wohooo much security.
            </h2>
        </div>
    </div>
    </section>
@Html.Sitecore().Placeholder("main")
<footer class="footer">
    <div class="container">
        <div class="content is-centered">
            <p>
                <strong>NWebSecDemo</strong> by <a href="https://github.com/magudb">Magnus Udbjørg</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
            </p>
            <p>
                <a class="icon" href="https://github.com/magudb">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
    <img src="//www.evilhacker.com/iWillSteelYourData.now" alt="super evil stuff"/>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/Im_A_Evil_Script.js"></script>
<script src="~/Scripts/dist/app.js"></script>
</body>
</html>
